.sectionAcc{

  float: left;
  width: 510px;
  background-color: #fff;
  height: 200px;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;
  margin-left: 10px;
}
.sectionAcc2{
  margin-left: 30px;
  float: left;
  width: 20%;
  height: 304px;
  background-color: #fff;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;

}
.sectionAcc3{
  margin-top: 3em;
  margin-left: 30px;
  float: right;
  margin-right: 16.7em;
  width: 20%;
  height: 30%;
  background-color: #fff;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;

}
.sectionAcc4{
  width: 510px;
  height: 250px;
  padding: 2em;
  background-color: #fff;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;
  margin-left: 10px;
  float: left;
  display: block;
  margin-top: 10px;
  
}
h5{
  color: grey;
  padding-left: 1px;

  font-size: 20px;
  font-family: sans-serif;

}
h4{
  color: grey;
padding: 0.3em;

  font-size: 30px;
  font-family: sans-serif;

}

.image{
  padding: 0.05em;
  float: left;
  margin: 0.5em;
  width: 2em;
}
.imagephoto{
  width: 100px;
  height: 100px;
  margin: 3px;
}
.photoalbum{
  width: 360px;
  height: 360px;
  background-color: white;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;
  float: left;
  display: block;
  margin-left: 2em;

}
.photoinfo{
  margin-top: 1em;
  margin-left: 2em;
  display: block;
  width: 360px;
  height: 170px;
  background-color: white;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;
  float: left;}
.nav1 {
  background-color: #3A5794;
  border-bottom: 1px solid #103480;
  height: 42px;
  width: 100%;
  position: relative;
}
.body1{
  display: block;
  width: 100%;
  height: 600px;
  background-color:#e9eaed;
}
.container-fluid{
  background-color: #3b5998;
  height: 4em;
}
.rech{
  margin: 2%;
  padding: 2%;
  width: 40em;
  height: 1.7em;
}
#div1{
  float: left;
  width: 20em;
  padding-left: 4em;
}
.photo{
  width: 168px;
  height: 168px;
  border: 1px gloove;
  margin-left: 5em;
  margin-top: 2em;
  margin-right: 100em;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 2px;

}
h6{
  display: inline;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}
.litext{
  color: #FFF;
margin-left:5px;
 padding-left:2em;
}
.divligne{
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: 10px 0;
}
.imagelike{
  width: 15px;
  height: 15px;
}
.litext a {color: #FFF;
font-weight: bold;
font-size: 16px;
font-family: sans-serif;}
.litext1{
  color: #FFF;
margin-left: 15px;
 padding:1em;
}
.liimg{
  color: #FFF;
  width: auto;
  margin-left: 15px;
  padding-right: 50px;
}
.textarea{
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 1.3em;

}


.button1{
  float:right;
  margin-right: 10px;
  width: 90px;
  background-color: #3b5998;
  font-size: 14px;
  color:white;
}
