.sectionAcc{
  margin-left: 30px;
  float: left;
  width: 500px;
  background-color: #fff;
  height: 200px;
}
.sectionAcc2{
  margin-right: 300px;
  float: right;
  width: 280px;
  height: 304px;
  background-color: #fff;
}
h5{
  color: #2E2E2E;
  padding-left: 10px;
}

.imageicon{}
.image{
  padding: 0.5px;
float: left;
  margin: 5px;
  width: 30px;
}

.body1{
  display: block;
  width: 100%;
  height: 100%;
  background-color:#e9eaed;
}
.container-fluid{
  background-color: #3b5998;
  height: 40px;
}
.rech{
  margin: 2%;
  padding: 2%;
  width: 400px;
  height: 25px;
}
#div1{
  float: left;
  width: 200px;
}
h6{
  display: inline;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
}
.litext{
  color: #FFF;
margin-left: 15px;
 padding: 15px;
}
.liimg{
  color: #FFF;
  width: auto;
  margin-left: 15px;
  padding-right: 50px;
}
.textarea{
  margin-left: 10px;
  margin-top: 20px;
}
