.sectionAcc{
  margin-left: 100px;
  float: left;
  width: 500px;
  background-color: #fff;
  height: 200px;
}
.sectionAcc2{
  margin-right: 200px;
  float: right;
  width: 280px;
  height: 304px;
  background-color: #fff;
}
h5{
  color: #2E2E2E;
}
.image{
  padding: 0.5px;
float: left;
  margin: 5px;
  width: 30px;
}

.body1{
  display: block;
  width: 100%;
  height: 100%;
  background-color:#e9eaed;
}
.container-fluid{
  background-color: #3b5998;
  height: 40px;
}
.rech{
  margin: 2%;
  padding: 2%;
  width: 400px;
  height: 25px;
}
#div1{
  float: left;
}
.litext{
  color: #FFF;
margin-left: 15px;
 padding: 15px;
}
.liimg{
  color: #FFF;
  width: auto;
  margin-left: 15px;
}
