#leftsidebar{
  float: left;
  padding: 20px 0 0 2px;
  position: relative;
  width: 179px;
  background-color: #e9eaed;
  height: 100%;

}
.image{
  padding: 0.5px;
float: left;
  margin: 5px;
  width: 30px;
}

body{
  display: block;
  width: 100%;
  height: 100%;
}
.container-fluid{
  background-color: #3b5998;
  height: 40px;
}
.rech{
  margin: 2%;
  padding: 2%;
  width: 400px;
  height: 25px;
}

.litext{
  color: #FFF;
margin-left: 15px;
 padding: 15px;
}
.liimg{
  color: #FFF;
  width: auto;
  margin-left: 15px;

}
