.sectionAcc{

  float: left;
  width: 40%;
  background-color: #fff;
  height: 200px;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;
}
.sectionAcc2{
  margin-left: 30px;
  float: left;
  width: 20%;
  height: 304px;
  background-color: #fff;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;

}
.sectionAcc3{
  margin-top: 3em;
  margin-left: 30px;
  float: right;
  margin-right: 16.7em;
  width: 20%;
  height: 30%;
  background-color: #fff;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;

}
h5{
  color: grey;
  padding-left: 1px;

  font-size: 20px;
  font-family: sans-serif;
  padding: 1em;
}

.image{
  padding: 0.05em;
  float: left;
  margin: 0.5em;
  width: 2em;
}

.body1{
  display: block;
  width: 100%;
  height: 100%;
  background-color:#e9eaed;
}
.container-fluid{
  background-color: #3b5998;
  height: 4em;
}
.rech{
  margin: 2%;
  padding: 2%;
  width: 40em;
  height: 2.5em;
}
#div1{
  float: left;
  width: 20em;
  padding-left: 4em;
}
h6{
  display: inline;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
}
.litext{
  color: #FFF;
margin-left: 15px;
 padding: 1em;
}
.liimg{
  color: #FFF;
  width: auto;
  margin-left: 15px;
  padding-right: 50px;
}
.textarea{
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 1.3em;

}
.button1{
  float:right;
  margin-right: 10px;
  width: 90px;
  background-color: #3b5998;
  font-size: 14px;
  color:white;
}
