
<div >
 <div id="div1">
  <ul>
    <li><a href="#profil">Modifier le profil</a></li>
    <h5>FAVORIES</h5>
    <li><a href="#accueil">Fil d'actualité</a></li>
    <li><a href="">Messages</a></li>
    <li><a href="">Amis proches</a></li>
    <li><a href="">Evènements</a></li>
    <li><a href="">Enregistré</a></li>
    <h5>PAGES</h5>
  </ul>
 </div>

<section class="sectionAcc">
  <div class="col-md-12">
    <a href="#"><h6>Statut</h6></a>
    <a href=""><h6>Ajouter une photo</h6></a>
    <a href=""><h6>Album photo</h6></a>
    <textarea ng-model="status" class="textarea" rows="4" cols="65"></textarea>
  </div>
  <div>
    <button class="button1"type="submit" ng-click="addstatut(status)">Publier</button>
    <div class="dropup">
  <button style="float:right;margin-right:10px;background-color:white;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Moi uniquement
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" >
    <li><a href="#">Public</a></li>
    <li><a href="#">Amis</a></li>
    <li><a href="#">Amis des amis</a></li>
  </ul>
</div>
</section>
<section class="sectionAcc2">
  <h5 id="h51">VOS PAGES</h5>
  <ul>
    <li><a href="https://www.facebook.com/craftacademyeu/?fref=ts"> <img class="image"src="images\téléchargement.jpg" alt="" />Craft Academy</a> </li>
  </ul>

</section>
<br>
<br><br>
<section class="sectionAcc3">

  <ul>
    <li class="litext1"><a href="#"> <img class="image"src="images\clock.png" alt="" />invitations à un évènement </a></li>
    <li class="litext1"><a href="#"> <img class="image"src="images\present.png" alt="" />Anniversaires </a></li>
  </ul>
</section>
<div  class="col-md-4 chat"ng-controller="ChatController as chatController">
  <div class="chatfenetre">
    <div ng-repeat="message in chatController.messages track by $index">
      {{message.from}}:{{message.text}}
    </div>
  </div>

  <div class="chatdonnees" >
    <div class="divligne1">
    </div>
    <input type="text" class="form-control" placeholder="ecrivez votre message ici" ng-model="chatController.newMessage">

    <select class="form-control" ng-model="chatController.sender">
      <option value="Amen Allah">Amen Allah</option>
      <option value="Emna">Emna</option>
    </select>
    <button style="margin:10px 70px;"class="btn-primary"ng-click='chatController.sendMessage(chatController.newMessage)'>Envoyer</button>
  </div>
</div>
  </div>
